.accueil1{
    background-image: url(accueil1.jpg);
    background-size: cover;
}

.apropos{
    background-image: url(apropos.jpg);
    background-size: cover;
    height: 600px;
}

.statistique{
    background-color: rgb(37, 150, 190);
    color: #fff;
    border-radius: 10px;
}

.mairies ul li{
    display: flex;
    gap: 35px;
}




.footer{

}